//@import url('http://localhost:8888/pastoreheadless/wp-includes/css/dist/block-library/style.min.css');
@import url('http://localhost:8888/pastoreheadless/wp-admin/load-styles.php?c=1&dir=ltr&load%5Bchunk_0%5D=dashicons,admin-bar,buttons,media-views,editor-buttons,wp-components,wp-block-editor,wp-nux,wp-reusable-blocks,wp-editor,common,&load%5Bchunk_1%5D=forms,wp-reset-editor-styles,wp-block-library,wp-editor-classic-layout-styles,wp-block-library-theme,wp-edit-blocks,wp-edit-post&load%5Bchunk_2%5D=,wp-block-directory,wp-format-library,admin-menu,dashboard,list-tables,edit,revisions,media,themes,about,nav-menus,wp-pointer,wi&load%5Bchunk_3%5D=dgets,site-icon,l10n,wp-auth-check&ver=6.0.2');


.post h1{
  font-size: 32px;
  font-weight: 600;
  margin-top: 10px;
}

.post p{
  margin-top: 5px;
}

.post a{
  color: blue;
}