@use '../../../../styles/partials/placeholders';
@use '../../../../styles/partials/mixins/devices' as devices;
@use '../../../../styles/partials/variables/colors' as colors;
@use '../../../../styles/partials/pagination';


.lessonPage {
  @extend %layoutContainer;

  .post {
    color: colors.$dark;
  }

  .readingContainer {
    max-width: 1600px;
    padding: 2%;
    padding-bottom: 10%;
    padding-right: 2%;

    @include devices.device(mdScreen) {
      padding-right: 12%;
    }

    @include devices.device(lgScreen) {
      padding-right: 0;
    }
  }

  .lessonsSideBarContainer {
    margin-top: 220px;
    padding-left: 30px;
    padding-right: 30px;

    .title {
      text-transform: uppercase;
      font-weight: bold;
      color: colors.$dark;
      margin-left: 12px;
    }
  }
 }

 .contentSidebar {
  display: none;
 }
