@use "../../styles/partials/variables/colors" as colors;
@use "../../styles/partials/variables/text" as text;
@use "../../styles/partials/variables/utils" as utils;
@use "../../styles/partials/mixins/devices" as devices;
@use "../../styles/partials/placeholders";

.linkItem {
  display: flex;
  align-items: center;
  padding: 14px;
  color: colors.$dark;

  &.classic {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    color: colors.$main;
  }

  &.edit {
    background-color:colors.$main;
    color: white;
    border-radius: 80px;
    padding: 10px;
    height: auto;
    min-width: 100px;
    width: 100%;
    font-size: .9rem;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;

    @include devices.device(tablet) {
      padding: 12px;
      // height: 50px;
      min-width: 100px;
    }

    .linkItemIcon {
      filter:  brightness(0) invert(1);
      width: 15px;
    }

    &:hover {
      background-color: colors.$dark;
    }
  }

  &.button {
    background-color:colors.$dark;
    color:white;
    border-radius: 80px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
  }

  &.vertical {
    flex-direction: column;

    .linkItemIcon {
      margin-right: 0px;
    }
  }
}

.linkItemIcon {
  width: 20px;
  display: block;
  margin-right: 10px;
}

