@use "../../styles/partials/variables/colors" as colors;
@use "../../styles/partials/variables/text" as text;
@use "../../styles/partials/variables/utils" as utils;
@use "../../styles/partials/mixins/devices" as devices;
@use "../../styles/partials/placeholders";

.linkItem {
  display: flex;
  align-items: center;
  padding: 14px;
  color: colors.$dark;

  &.edit {
    background-color:colors.$main;
    color: white;
    border-radius: 80px;
    padding: 10px;
    height: auto;
    min-width: 100px;

    @include devices.device(tablet) {
      padding: 16px;
      height: 50px;
      min-width: 120px;
    }

    .linkItemIcon {
      filter:  brightness(0) invert(1);
      width: 15px;
    }
  }

  &.button {
    background-color:colors.$dark;
    color:white;
    border-radius: 80px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
  }
}

.linkItemIcon {
  max-width: 20px;
  display: block;
  margin-right: 10px;
}

