@use "../../../../styles/partials/mixins/devices" as devices;
@use "../../../../styles/partials/variables/colors" as colors;
@use "../../../../styles/partials/variables/utils" as utils;
@use "../../../../styles/partials/placeholders";

.singleComment {
  color: colors.$dark;
  width: 100%;

  .colLeft {
    &.isReply::after {
      content: '';
      width: 1px;
      height: 100%;
      background-color: grey;
      display: block;
      margin: auto;
    }
  }

  .top {
    font-size: 0.8rem;

    .innerContent {
      padding-bottom: 0px;
    }
  }

  .middle {
    .innerContent {
      padding-bottom: 0px;
      padding-top: 15px;
    }
  }

  .bottom {
    font-size: 0.8rem;

    .innerContent {
      justify-content: flex-end;
      align-items: center;
      padding: 10px 20px;
      padding-bottom: 20px;
    }
  }

  .replyContainer {
    align-self: flex-end;
  }

  .author {
    font-weight: bold;

    &::after {
      content: "";
      width: 1px;
      border-right: 1px solid colors.$grey50;
      margin-left: 10px;
      margin-right: 10px;
    }

    span {
      color: colors.$grey60;
      font-weight: normal;
    }
  }

  .date {
    color: colors.$grey60;
  }

  .innerContent {
    padding: 30px 20px;
  }

  .replyIcon {
    // margin-top: 12px;
    width: 50px;
    height: 50px;
    background-color: colors.$palette8;
    border-radius: 100%;
  }

  &:last-child {
    .colLeft{
      &.isReply::after {
        width: 0px;
      }
    }
  }
}
