@use "../../../../styles/partials/variables/colors" as colors;
@use "../../../../styles/partials/mixins/devices" as devices;
@use "../../../../styles/partials/placeholders";

.webinarDetail {
  @extend %layoutContainer;
  padding: 2%;
  max-width: 1500px;

  &_description {
    color: colors.$dark;
    margin-top: 2rem;
    position: relative;
    width: 100%;

    &_text {
      margin-bottom: 20px;
    }

    &_image {
      position: relative;
      max-width: 1000px;
      height: 300px;
      width: 100%;

      @include devices.device(smTablet) {
        height: 400px;
      }
      img {
        object-fit: contain;
        object-position: 0% 0%;
      }
    }

    &_video {
      margin-top: 2rem;
    }
  }

  &_date {
    color: colors.$dark;
    display: flex;
    align-items: center;

    .date {
      display: flex;
      align-items: center;

      &::before {
        content: "";
        background-image: url(../../../../assets/img/icons/calendar.svg);
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        filter: invert(33%) sepia(62%) saturate(5806%) hue-rotate(269deg) brightness(97%) contrast(95%);
      }
    }
  }

  .readingContainer {
    max-width: 1200px;
  }
}

.adminActions {
  margin-top: 2rem;
  margin-bottom: 3rem;

  @include devices.device(smTablet) {
    display: flex;
    margin-bottom: 0px;
  }

  button {
    padding: 5px 18px !important;
  }

  &_buttonContainer {
    &_edit, &_users, &_upload {
      border: 1px solid colors.$main;
      border-radius: 50px;
      margin-bottom: 10px;

      @include devices.device(smTablet) {
        margin-right: 20px;
      }

      button {
        color: colors.$main !important;
      }
    }

    &_delete {
      border: 1px solid colors.$error;
      border-radius: 50px;
      margin-bottom: 10px;

      button {
        color: colors.$error !important;

        img {
          filter: invert(54%) sepia(18%) saturate(4632%) hue-rotate(311deg) brightness(85%) contrast(101%) !important;
        }
      }
    }

    &_upload {
      button {
        img {
          filter: invert(58%) sepia(50%) saturate(5333%) hue-rotate(247deg) brightness(60%) contrast(75%) !important;
        }
      }
    }
  }
}

.attendButtonContainer {
  max-width: 250px;
  margin-top: 2rem;
}

.modalContainer {
  padding: 20px;
  color: colors.$dark;

  &_info {
    text-align: center;
    margin-top: 100px;

    button {
      max-width: 300px !important;
      margin-top: 80px;
    }
  }

  &_title {
    text-align: center;
    font-weight: bold;
  }

  &_users {
    max-width: 400px;
    margin: auto;
    max-height: 300px;
    overflow-y: auto;
    ol {
      padding-left: 0px;
      li {
        display: flex;
        justify-content: space-between;
        line-height: 40px;
        &:nth-child(even) {
          background-color: colors.$grey30;
        }
      }
    }
  }
}

.progressBar {
  text-align: center;
  margin-top: 50px;
}

.buttonContainer {
  max-width: 300px;
  margin: auto;
  margin-top: 40px;
}
