@use "../../../../../../../../styles/partials/mixins/devices" as devices;
@use "../../../../../../../../styles/partials/variables/colors" as colors;
@use "../../../../../../../../styles/partials/placeholders";

.confirmedPayment {
  @extend %layoutContainer;
  padding: 2%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.successCard {
  background-color: colors.$main;
  @extend %borderRadius;
  max-width: 300px;
  margin: auto;
  text-align: center;
  padding: 20px;

  @include devices.device(500px) {
    max-width: 400px;
    padding: 2%;
  }

  @include devices.device(tablet) {
    max-width: 600px;
  }

  &Container {
    p{
    color: white;
    }
  }

  &Title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .buttonContainer {
    max-width: 250px;
    margin: auto;
  }

  .imageContainer {
    width: 100%;
    max-width: 150px;
    margin: auto;

    @include devices.device(tablet) {
      max-width: 250px;

    }
  }

}