@use "../../../../../styles/partials/mixins/devices" as devices;
@use "../../../../../styles/partials/variables/colors" as colors;
@use "../../../../../styles/partials/placeholders";

.editProfile{
  @extend %layoutContainer;
  padding: 2%;

  .avatarBlock {
    margin-right: 50px;
  }

  .userInfoBlock {
    max-width: 1000px;

    .nameLastnameBlock {
      display: flex;
      margin-bottom: 20px;
      
      & > div {
        width: 48%;
        margin-right: 5px;
      }
    }
  }

}