@use "../../styles/partials/mixins/devices" as devices;
@use "../../styles/partials/variables/colors" as colors;
@use "../../styles/partials/variables/utils" as utils;
@use "../../styles/partials/placeholders";

.card {
  @extend %borderRadius;
  background-color: white;
  width: 100%;
  position: relative;
}

.outlined {
  border: 1px solid colors.$grey40;
  background-color: transparent;
}


.autocomplete{
  border-radius: 0;
  top: 85%;
  width: 100%;
  z-index: 9999;
  position: absolute;
  left: 0;
  p{
    margin: 0;
  }
}

.elevationSmall{
  box-shadow: 5px 5px 20px 5px colors.$grey30;
}