@use "../../styles/partials/mixins/devices" as devices;
@use "../../styles/partials/variables/colors" as colors;

.card {
  background-color: white;
  padding: 5%;
  border-radius: 20px;
  width: 100%;

  @include devices.device(tablet) {
    min-width: 400px;
    max-width: 400px;
  }
}