@use "../../styles/partials/mixins/devices" as devices;
@use "../../styles/partials/variables/colors" as colors;
@use "../../styles/partials/variables/utils" as utils;

.card {
  background-color: white;
  border-radius: utils.$smBorderRadius;
  width: 100%;

  @include devices.device(smTablet) {
    border-radius: utils.$lgBorderRadius;
  }
}