@use '../../styles/partials/variables/colors' as colors;
@use '../../styles/partials/mixins/devices' as devices;
@use '../../styles/partials/placeholders'; 

.userImage {
  overflow: hidden;

  &.bordered {
    border: 3px solid lighten(colors.$dark,75%);
    outline: 1px solid colors.$main;
  }

  &.nobordered {
    border: 0px;
    outline: 0px;
  }

  &.small {
    width: 60px;
    height: 60px;
  }

  &.large {
    width: 200px;
    height: 200px;
  }

  &.rounded {
    border-radius: 100%;
    position: relative;
  }

  &.squared {
    border-radius: 10%;
    position: relative;
  }

  .userImageContainer {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.noAvatarImage {
  
  background-color: lighten(colors.$dark,72%);
  background-image: url(../../assets/img/icons//no-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;

  &.large {
    height: 200px;
    width: 200px;
  }

  &.small {
    height: 60px;
    width: 60px;
    background-size: 20px;
  }
}