@use "../../../../../styles/partials/mixins/devices" as devices;
@use "../../../../../styles/partials/variables/colors" as colors;
@use "../../../../../styles/partials/placeholders";

.consultantServiceList {

  &.gridContainer {
    flex-direction: column;
    display: flex;


      @include devices.device(1400px) {
        flex-direction: row;
      }
  }

  &.blockContainer {
    flex-direction: column;
    display: flex;
  }

  // @include devices.device(lgScreen) {
  //   flex-direction: row;
  // }
  .rotationContainer {
    transform: none;
    position: static;

    @include devices.device(1400px) {
      transform: rotate(-90deg);
      position: absolute;
      width: 245px;
      left: -70px;
      top: 95px;
    }
  }

  .simpleContainer {
    width: 245px;
    margin-bottom: 20px;
  }

  .buttonBlock {
    @include devices.device(1400px) {
      position: relative;
      width: 80px;
      margin-right: 20px;
    }
  }

  .servicesBlock {
    width: 100%;
    ul {
      @include devices.device(lgScreen) {
        //display: grid;
        grid-gap: 20px;
        min-height: 200px;
        grid-template-columns: 1fr 1fr 1fr;
      }

      &.fullList {
       
        &.blockContainer {
          display: block;
        }

        &.gridContainer {
          display: block;
          @include devices.device(smTablet) {
            display: grid;
            // min-height: 200px;
            grid-gap: 20px;
            grid-template-columns: 1fr 1fr;
          }
          @include devices.device(tablet) {
            grid-template-columns: 1fr 1fr 1fr;
          }
        }
      }

      &.shortList {
        // @include devices.device(lgScreen) {
        //   // display: flex;
        //   // min-height: 200px;
        //   flex-wrap: nowrap;
        // }

        &.blockContainer {
          display: block;
        }

        &.gridContainer {
          display: block;
          @include devices.device(smTablet) {
            display: grid;
            // min-height: 200px;
            grid-gap: 20px;
            grid-template-columns: 1fr 1fr;
          }
          // @include devices.device(tablet) {
          //   grid-template-columns: 1fr 1fr 1fr;
          // }
        }

        .serviceItem {
          @include devices.device(smScreen) {
            min-height: auto;
            margin-bottom: 12px !important;
          }

          @include devices.device(mdScreen) {
            min-height: 250px;
          }
        }
      }

      &.columnList {
        display: block;
        // @include devices.device(lgScreen) {
        //   // display: flex;
        //   // min-height: 200px;
        //   flex-wrap: nowrap;
        // }

        .serviceItem {
          @include devices.device(smScreen) {
            min-height: auto !important;
            margin-bottom: 12px !important;
          }

          @include devices.device(mdScreen) {
            min-height: 250px;
          }
        }
      }

      .serviceItem {
        margin-bottom: 15px;
        // @include devices.device(tablet) {
        //   //width: 38%;
        //   //margin-right: 20px;
        //   min-height: 250px;
        //   margin-bottom: 0px;
        // }

        &:last-child {
          margin-right: 0px;
        }

        .service {
          padding: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          min-height: 250px;

          p {
            margin: 0px;
          }

          .colorSpot {
            width: 15px;
            height: 15px;
            border-radius: 100%;
            flex-shrink: 0;
            margin-right: 10px;
            position: relative;
            top: 5px;
          }

          &InfoBlock {
            width: 100%;
          }

          &Title {
            color: colors.$main;
            font-weight: bold;
            font-size: 1.2rem;
            display: inline-block;
            margin-bottom: 12px !important;
          }

          // &Price,
          // &Duration {
          //   font-size: 0.9rem;
          //   strong {
          //     font-size: 1.2rem;
          //   }
          // }
        }

        &Price {
          &::after {
            content: "€";
          }
        }
      }
    }
  }

  .emptyContent {
    height: 100%;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
  }

  .editBlock {
    display: flex;
    margin-top: 20px;
    align-items: center;

    &>* {
      max-width: 100px !important;

    }

    a {
      padding: 10px !important;
      max-height: 42px;

      span {
        margin: 0px !important;
      }

      img {
        max-width: 12px !important;

      }
    }
  }
}
