@use "../../../styles/partials/variables/colors" as colors;
@use "../../../styles/partials/variables/text" as text;
@use "../../../styles/partials/mixins/devices" as devices;
@use "../../../styles/partials/placeholders";

.amas {
  @extend %layoutContainer;
  padding: 2%;
}

.chatRoom {
  &_grid {
    margin-top: 40px;

    @include devices.device(lgScreen) {
      display: flex;

    }

    &_item {
      width: 100%;
      min-height: auto;
      margin: 15px 0px 0px 0px;

      &:hover {
        outline: 2px solid colors.$main;
        @extend %borderRadius;
        cursor: pointer;
      }


      @include devices.device(lgScreen) {
        width: 33.3%;
        margin: 0px 15px 0px 0px;
      }

      &:last-child {
        margin-right: 0px;
      } 
    }
  }
}

.cardContainer {
  padding: 15px;
}

.createRoomBtnContainer {
  max-width: 250px;
}

.filtersContainer {
  margin-top: 50px;
  @include devices.device(lgScreen) {
    display: flex;
  }

  &_searchBar {
    @include devices.device(lgScreen) {
      width: 80%;
    }
  }

  &_select {
    @include devices.device(lgScreen) {
      width: 20%;
    }
  }
}

.modalContainer {
  text-align: center;
  color: colors.$dark;
}

