@use "../../styles/partials/variables/colors" as colors;
@use "../../styles/partials/variables/text" as text;
@use "../../styles/partials/mixins/devices" as devices;
@use "../../styles/partials/placeholders";

.latestArticlesContainer {
  max-width: 100%;
  padding-right: 2%;

  @include devices.device(smScreen) {
    max-width: 30%;
  }

  li {
    border-bottom: 1px solid colors.$grey40;
    padding-bottom: 20px;

    &:last-child {
      border: none;
    }

    &:hover {
      .articleTitle {
        color: colors.$main;
      }
    }
  }

  .articleTitle {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0px;
    cursor: pointer;
  }

  .authorContainer {
    span {
      color: colors.$grey60;
    }
    .author {
      font-weight: bold;

      &::after {
        content: '|';
        font-weight: normal;
        display: inline-block;
        margin: auto 5px;
      }
    }
  }
}