@use "../../../../styles/partials/placeholders";
@use "../../../../styles/partials/mixins/devices" as devices;
@use "../../../../styles/partials/variables/colors" as colors;

.configuration {
  @extend %layoutContainer;
  padding: 2%;
  color: colors.$dark;

  header {
    margin-bottom: 50px;
  }
}

.tableConfig{
  display: flex;
  .colum{
    display: flex;
    flex-direction: column;
    min-width: 150px;
    margin-right: 20px;


    div{
      height: 60px;
    }
    .sections{
      text-align: left;
      width: 100%;
      font-size: 16px;
    }
    .label{
      height: 45px;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}

.formContainer {
  .colum {
    align-items: center ;
  }
}
