@use "../../../../../../../styles/partials/mixins/devices" as devices;
@use "../../../../../../../styles/partials/variables/colors" as colors;
@use "../../../../../../../styles/partials/placeholders";

.portfolioServiceList {
  display: flex;
  flex-direction: column;

  @include devices.device(lgScreen) {
    flex-direction: row;
  }
    .rotationContainer {
      @include devices.device(lgScreen) {
        transform: rotate(-90deg);
        position: absolute;
        width: 245px;
        left: -70px;
        top: 95px;

      }
    }
    .buttonBlock {
      @include devices.device(lgScreen) {
        position: relative;
        width: 80px;
        margin-right: 20px;
      }
    }

    .servicesBlock {
      width: 100%;
      ul {
        @include devices.device(lgScreen) {
          display: flex;
          min-height: 200px;
          flex-wrap: nowrap;
        }

        .serviceItem {
          @include devices.device(lgScreen) {
            width: 38%;
            margin-right: 20px;
            min-height: 250px;
          }

          &:last-child {
            margin-right: 0px;
          }

          .service {
            padding: 18px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            p {
              margin: 0px;
            }

            &Title {
              color: colors.$main;
              font-weight: bold;
              font-size: 1.2rem;
            }

            &Price {
              font-weight: bold;
              font-size: 1.2rem;
              &::after {
                content: '€';
              }
            }
          }
          
        }
      }
    }

    .emptyContent {
      height: 100%;
      width: 100%;
      min-height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 20px;
    }
}

