@use '../partials/variables/colors' as colors;

.iconAccordion{
  width: 25px;
  display: inline-block;
  margin-right: 10px;
}

.labelAccordion {
  color: colors.$dark;
  display: flex !important;
  justify-content: space-between;
  width: 100%;
}


