@font-face {
  font-family: 'Celias';
  src: url('../../assets/fonts/Celias.woff2') format('woff2'),
      url('../../assets/fonts/Celias.woff') format('woff'),
      url('../../assets/fonts/Celias.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Celias';
  src: url('../../assets/fonts/Celias-Medium.woff2') format('woff2'),
      url('../../assets/fonts/Celias-Medium.woff') format('woff'),
      url('../../assets/fonts/Celias-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Celias';
  src: url('../../assets/fonts/Celias-Light.woff2') format('woff2'),
      url('../../assets/fonts/Celias-Light.woff') format('woff'),
      url('../../assets/fonts/Celias-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Celias';
  src: url('../../assets/fonts/Celias-Bold.woff2') format('woff2'),
      url('../../assets/fonts/Celias-Bold.woff') format('woff'),
      url('../../assets/fonts/Celias-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}