@use "./variables/colors" as colors;
@use "./variables/text" as text;
@use "./mixins/devices" as devices;

%smallCaps {
  text-transform: uppercase;
  color: colors.$grey50;
  letter-spacing: 2px;
  font-size: 1rem;
}