@use "./variables/colors" as colors;
@use "./variables/text" as text;
@use "./mixins/devices" as devices;
@use "./variables/utils" as utils;

%smallCaps {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8rem;
  font-weight: normal;

  @include devices.device(mdScreen) {
    font-size: 1rem;
  }
}

%mainTitle {
  color: colors.$dark;
  font-size: 1.5rem;
  margin-top: 0px;
  font-weight: 500;

  @include devices.device(tablet) {
    font-size: 2rem;
    font-weight: 500;
  }

  @include devices.device(lgScreen) {
    font-size: 2.3rem;
    font-weight: 500;
  }
}

%secondaryTitle {
  color: colors.$dark;
  font-size: 1.2rem;
  margin-top: 0px;
  font-weight: bold;

  @include devices.device(tablet) {
    font-size: 1.6rem;
  }
}

%borderRadius {
  border-radius: utils.$smBorderRadius;

  @include devices.device(smTablet) {
    border-radius: utils.$lgBorderRadius;
  }
}

%cardContainer {
	padding: 15px;
	@include devices.device(smTablet) {
	 max-height: 400px;
	 min-height: 400px;
	}

	@include devices.device(lgScreen) {
	 max-height: 450px;
	 min-height: 450px;
	}
}

%layoutContainer {
  max-width: 1200px;
  width: 100%;
  margin: auto;

  @include devices.device(lgScreen) {
    max-width: 1300px;
  }

  @include devices.device(1900px) {
    max-width: 1600px;
  }
}
