/////main colors
$main: #8b2ae1;
$dark: #110151;

//palette
$palette1: #b537f1;
$palette2: #e3ade7;
$palette3: #b07dd4;
$palette4: #a2e6d1;
$palette5: #88f4ff;
$palette6: #d0f4fc;
$palette7: #ffdc60;
$palette8: #f0ecf9;
$palette9: #5956E9;

//greys
$grey10: #f9fafb;
$grey20: #f4f4f6;
$grey30: #e5e6eb;
$grey40: #d3d5da;
$grey50: #9ea3ae;
$grey60: #6c727f;
$grey70: #4d5461;
$grey80: #394150;
$grey90: #212936;

//alerts
$error: #ff5e86;
$warning: #ffa64d;
$success: #b9f046;

