@use "../../../../../styles/partials/placeholders";
@use "../../../../../styles/partials/mixins/devices" as devices;
@use "../../../../../styles/partials/variables/colors" as colors;

.user {
  @extend %layoutContainer;
  padding: 2%; 

  &MainDetails {
    max-width: 1000px;
  }
  .plan{
    display:  flex;
    align-items: center;
    justify-content: space-between;
  }

  &_roleConfiguration {
    border: 1px solid colors.$grey40;
    padding: 20px;
    border-radius: 10px;
  }
}

.roles {
  &_checks {
    display: flex;
    align-items: center;
    margin-right: 20px;
    &_list {
      display: flex;
      align-items: center;    }
  }

  &_buttons {
    max-width: 320px;
  }

  .manageCollaborator {
    border: 1px solid colors.$dark;
    border-radius: 50px;
    width: fit-content;
    margin-left: 80px;
    button {
      padding: 10px !important;
    }
  }
}

.userMainDetails {
  margin-bottom: 50px;
  button {
    max-width: 320px !important;
  }
}