@use "../../styles/partials/variables/colors" as colors;
@use "../../styles/partials/variables/text" as text;

.chipContainer {
  font-size: text.$textSmall;
  border-radius: 20px;
  width: fit-content;
  padding: 3px 8px;
  margin-right: 10px;
  height: fit-content;
  margin: 4px;

  &:last-child {
    margin-right: 0px;
  }
}

.main {
  background-color: colors.$main;
  color: white;
}

.lightMain {
  background-color: colors.$palette8;
}

.hasIcon {
  display: block;
  height: 12px;
  width: 12px;
  margin-right: 5px;
}
