@use "../../../styles/partials/mixins/devices" as devices;
@use "../../../styles/partials/variables/colors" as colors;
@use "../../../styles/partials/variables/utils" as utils;
@use "../../../styles/partials/placeholders";

.dashboard {
  @extend %layoutContainer;
  padding: 2%;

  &_grid {
    display: grid;
    grid-gap: 18px;

    @include devices.device(smScreen) {
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 25px;
    }

    &_item {
      background-color: white;
      @extend %borderRadius;
    }
  }
}

.item {
  &__noBg {
    background: transparent !important;
  }

  &_header {
    background-color: colors.$main;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-top-left-radius: utils.$lgBorderRadius;
    border-top-right-radius: utils.$lgBorderRadius;
    padding: 0.5rem;

    @include devices.device(smTablet) {
      border-top-left-radius: utils.$smBorderRadius;
      border-top-right-radius: utils.$smBorderRadius;
      padding: 0.9rem;
    }

    span {
      display: flex;
      align-items: center;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        display: block;
        margin-right: 10px;
        background-size: contain;
      }
    }
  }

  &_content {
    padding: 20px;
  }

  &__span8 {
    @include devices.device(smScreen) {
      grid-column-end: span 8;
    }
  }

  &__span5 {
    @include devices.device(smScreen) {
      grid-column-end: span 5;
    }
  }

  &__span3 {
    @include devices.device(smScreen) {
      grid-column-end: span 3;
    }
  }
}

.news {
  &_item {
    padding: 12px 20px;
    &__title {
      color: colors.$dark;
      margin: 0px;
    }
    &__footer {
      color: colors.$grey60;
      font-size: .9rem;
      margin-top: 5px;
      margin-bottom: 0px;
    }
  }
  .item_header {
    span {
      &::before {
        background-image: url(../../../assets/img/icons/megaphone.svg);
        filter: brightness(10);
      }
    }
  }

  .item_content {
    padding: 0px !important;

    li {
      border-color: colors.$grey40;
      &:last-child {
        border-bottom: 0px !important;
      }
    }
  }
}

.webinars {
  background-color: lighten(colors.$dark, 75%);
  .item_header {
    span {
      &::before {
        background-image: url(../../../assets/img/icons/webinars.svg);
        filter: brightness(10);
      }
    }
  }

  .item_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 40px);
  }
}

.research,
.flashUpdates {
  .item_header {
    span {
      &::before {
        background-image: url(../../../assets/img/icons/analysis.svg);
        filter: brightness(10);
      }
    }
  }
}

.values {
  .item_header {
    span {
      &::before {
        background-image: url(../../../assets/img/icons/coins.svg);
        filter: brightness(10);
      }
    }
  }
}

.flexContainer {
  @include devices.device(tablet) {
    display: flex;
  }

  & > a,
  & > div {
    flex-basis: 0;
    flex-grow: 1;
    margin-right: 20px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.colorCardText {
  span {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    display: block;
  }
}

.amasCardText {
  h2 {
    margin-bottom: 0px;
  }
  h3 {
    color: colors.$dark;
    margin-top: 0px;
    font-size: 1.4rem;
  }
}

.lastWebinar {
  &_date {
    background: colors.$main;
    border-radius: 100%;
    width: 85px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    flex-shrink: 0;
    margin-right: 10px;

    &__day {
      font-weight: bold;
      font-size: 2rem;
    }

    &__month {
      text-transform: uppercase;
      position: relative;
      top: -8px;
    }
  }

  &_info {
    color: colors.$dark;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      margin: 0px;
    }

    &__author {
      margin: 0px;
    }
  }

  .top {
    display: flex;
    align-items: center;
  }

  .bottom {
    .linkButton {
      border: 1px solid colors.$dark;
      border-radius: 50px;
      max-width: 180px;
      margin: auto;
      margin-top: 20px;

      a {
        font-size: .9rem !important;
        padding: 10px !important;
        span {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

.advertising_container {
  margin-bottom: 20px;
}
