@use "../../styles/partials/mixins/devices" as devices;
@use "../../styles/partials/variables/colors" as colors;

.button {
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  font-size: inherit;
}

%transparent {
  background-color: transparent;
  border-radius: 0px;
}

.transparent {
  @extend %transparent;
}

.primary {
  background-color: colors.$main;
}

.secondary {
  background-color: colors.$palette5;
}

.tab {
  @extend %transparent;
  color: colors.$grey50;
  font-weight: normal;
}
