@use "../../../../styles/partials/mixins/devices" as devices;
@use "../../../../styles/partials/variables/colors" as colors;
@use "../../../../styles/partials/placeholders";

.advertisingList {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;

  @include devices.device(smTablet) {
    flex-wrap: nowrap;
  }

  li {
    flex: 1 0 50%;
    max-width: 50%;
    width: 25%;
    margin-top: 10px;
    position: relative;
    padding-right: 10px;
    min-height: 120px;
    @include devices.device(smTablet) {
      min-height: 100%;
    }

    img {
      object-fit: contain;
    }

    .adminAd_button {
      position: absolute;
      z-index: 100;
      background-color: white;
      border-radius: 100%;
      height: 48px;
      width: 50px;
      right: 15px;

      img {
        filter: grayscale(100%) brightness(51%) sepia(56%) hue-rotate(218deg) saturate(521%) contrast(1);
        width: 20px !important;
        height: 20px !important;
        display: block;
      }
    }

    @include devices.device(smTablet) {
      flex: auto;
      max-width: none;
      margin-right: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }

    div {
      padding-right: 10px;
    }
  }
}

.emptyAd {
  background-color: colors.$grey40;
  position: relative;
  margin-right: 10px;

  img {
    object-fit:fill !important;
  }

  &_text {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin: 0px;
      text-align: center;
      font-size: 0.9rem;
      color: colors.$grey50;
    }
  }
}
