@use "../../styles/partials/variables/colors" as colors;
@use "../../styles/partials/mixins/devices" as devices;
@use "../../styles/partials/placeholders";

.postGrid {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	width: 100%;

	&.row {
		flex-direction: row !important;
		flex-wrap: wrap;
	}

	&.column {
		flex-direction: column !important;
		flex-wrap: wrap;

		@include devices.device(tablet) {
			padding-right: 40px;
		}

		@include devices.device(lgScreen) {
			flex-direction: row;
			flex-wrap: wrap;
			padding-right: 150px;
		}

		.postLink {
			width: 100%;
		}

		.createButtonContainer {
			width: 100%;
		}

		.createCourseButton {
			width: 100%;
			padding: 2%;
			max-width: fit-content;

			.buttonContent {
				flex-direction: row;

				.buttonImage {
					width: 45px;
					height: auto;
					flex-shrink: 0;
					margin-right: 10px;
				}
			}
		}
	}

	// @include devices.device(lgScreen) {
	// 	flex-direction: row;
	// 	flex-wrap: wrap;
	// }
}

.postLink {
	padding: 5px;
	width: 100%;

	@include devices.device(lgScreen) {
		width: 33.3%;
		padding: 10px;
	}

	.postItemContainer:hover {
		box-shadow: 0 0 0 2px colors.$main;
		border-radius: 15px;
		display: block;
		cursor: pointer;
		@include devices.device(smTablet) {
			border-radius: 20px;
		}
	}
}

.createButtonContainer {
	padding-right: 10px;

	@include devices.device(lgScreen) {
		width: 33.3%;
		padding: 10px;
	}
}

.createCourseButton {
	@extend %cardContainer;
	border: 2px dashed colors.$main;
	border-radius: 20px;
	font-size: 1.2rem;
	background-color: lighten(colors.$main, 42%);
	width: 100%;
	color: colors.$main;

	@include devices.device(smTablet) {
		max-width: 400px;
		min-height: 80px;
		padding: 10px;
	}

	@include devices.device(lgScreen) {
		max-width: 100%;
		min-height: 100%;
		padding: 5%;
		text-transform: uppercase;
		font-weight: normal;
		color: colors.$grey60;
		font-size: 1.1rem;
		letter-spacing: 0.2rem;
	}

	.buttonContent {
		display: flex;
		flex-direction: row;
		align-items: center;

		strong {
			color: colors.$main;
			text-transform: capitalize;
			margin-top: 0px;
			font-size: 1.2rem;
			letter-spacing: 0px;
			margin-right: 10px;
			margin-left: 10px;

			@include devices.device(lgScreen) {
				margin-top: 20px;
				font-size: 1.5rem;
			}
		}

		.buttonImage {
			width: 40px;
			height: 40px;

			@include devices.device(lgScreen) {
				width: 80px;
				height: 80px;
			}
		}

		@include devices.device(lgScreen) {
			flex-direction: column;
		}
	}
}

.noResults {
	color: colors.$grey60;
	text-align: center;
}
