@use '../../styles/partials/variables/colors' as colors;
@use '../../styles/partials/mixins/devices' as devices;


.postGrid {
  display: grid;
	gap: 3rem;
	grid-auto-rows: auto;
	grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
	max-width: 100%;
	width: 100%;
}

.postLink {
	box-shadow: 0 0 0 0px;
	transition: all;
	height: fit-content;
}

.postLink:hover {
	box-shadow: 0 0 0 2px colors.$main;
	border-radius: 20px;
	transition: all;
}

.cardContainer {
  padding: 5%;
	 @include devices.device(smTablet) {
		max-height: 400px;
		min-height: 400px;
	 }

	 @include devices.device(smScreen) {
		max-height: 450px;
		min-height: 450px;
	 }
}