@use "../../../../styles/partials/variables/colors" as colors;
@use "../../../../styles/partials/mixins/devices" as devices;
@use "../../../../styles/partials/placeholders";

.deferredWebinars {
  @extend %layoutContainer;
  padding: 2%;

  // header {
  //   @include devices.device(smTablet) {
  //     display: flex;
  //   }
  // }
}

.webinarsContainer {
  &_grid {
    margin-top: 5px;

    @include devices.device(lgScreen) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }

    @include devices.device(1900px) {
      grid-template-columns: repeat(4, 1fr);
    }

    &_item {
      width: 100%;
      margin-right: 15px;
      margin-bottom: 20px;
      height: fit-content;

      &:hover {
        outline: 2px solid colors.$main;
        @extend %borderRadius;
        cursor: pointer;
      }

      &:last-child {
        margin-right: 0px;
      }

      & > div {
        @include devices.device(lgScreen) {
          min-height: 410px;
          height: auto;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

.cardContainer {
  padding: 15px;

  & > div {
    flex: 1;
  }

  @include devices.device(lgScreen) {
    min-height: 420px;
    display: flex;
    flex-direction: column;
  }
}

