@use "../../../../../styles/partials/mixins/devices" as devices;
@use "../../../../../styles/partials/variables/colors" as colors;
@use "../../../../../styles/partials/placeholders";

.newsContent {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
 
  &_info {
    width: 90%;
    align-items: flex-start;
    flex-direction: column;
    &_title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      font-weight: bold;
      color: colors.$dark;

      a {
        &:hover {
          color:colors.$main
        }
      }
    }

    &_footer{
      display: flex;
      align-items: center;
      .tickers{
        margin-right: 15px;
        display: flex;
        justify-content: space-around;
        div{
          background-color: #c2c2c2;
          padding: 5px;
          border-radius: 5px;
          margin: 5px;
        }
      }
    }
  }

  &_date {
    color: colors.$grey50;
    padding-right: 30px;
  }

  &_fav {
    display: flex
  }

  
}

.favButton {
  width: 30px;
  background:url(../../../../../assets/img/icons/star.svg) no-repeat center ;
  filter: invert(98%) sepia(0%) saturate(522%) hue-rotate(146deg) brightness(79%) contrast(106%);

  &:hover, &_isActive {
    filter: invert(87%) sepia(64%) saturate(6337%) hue-rotate(323deg) brightness(97%) contrast(108%);
  }
}