@use "../../../../styles/partials/mixins/devices" as devices;
@use "../../../../styles/partials/variables/colors" as colors;
@use "../../../../styles/partials/placeholders";

.analysisCategoryPage {
  @extend %layoutContainer;
  padding: 2%;
  position: relative;

  .collapsedItem {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;

    @include devices.device(tablet){
      flex-direction: row;
    }
  }
}