@use "../../../../styles/partials/variables/colors" as colors;
@use "../../../../styles/partials/mixins/devices" as devices;
@use "../../../../styles/partials/placeholders";

.cardContainer {
	@extend %cardContainer;
	position: relative;

	@include devices.device(smTablet) {
		max-height: auto;
		min-height: auto;
		// padding: 20px;
	}

	@include devices.device(lgScreen) {
		max-height: 450px;
		min-height: 450px;
	}

	@include devices.device(1890px) {
		max-height: 400px;
		min-height: 400px;
	}
}

.postItemContainer.hasHoverColor:hover {
	box-shadow: 0 0 0 2px colors.$main;
	border-radius: 15px;
	display: block;
	cursor: pointer;
	@include devices.device(smTablet) {
		border-radius: 20px;
	}
}

.privateCardContainer {
	@extend %cardContainer;
	position: relative;
	max-height: 100%;
	min-height: none;
}

.btnMenu {
	border-radius: 25px;
	box-shadow: 1px 1px 5px colors.$grey40;
	position: absolute;
	right: 25px;
	width: 40px;
	height: 40px;
	background-color: white;
	background-image: url(../../../../assets/img/icons/menu-dots-vertical.png);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
}
.btnmenu:active {
	box-shadow: none;
}
.header {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
	left: 0px;
	z-index: 100;
	padding-left: 25px;

	.postStatus {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		position: absolute;
		left: -5px;
    top: -2px;

		img {
			width: 20px !important;
			height: 20px !important;
		}
	}
}
