@use "../../styles/partials/mixins/devices" as devices;
@use "../../styles/partials/variables/colors" as colors;

.snackBar {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 0.9rem;
  padding: 5px;
  
  .container {
    padding: 10px 20px;
    border-radius: 5px;
    visibility: hidden;
    margin-bottom: 5px;
    p{
      color: white;
    }
  }
}

.show {
  .container {
    visibility: visible;
    animation: fadein 0.5s;
  }
}
.warning{
  background-color: colors.$warning;
} 
.error{
  background-color: colors.$error;
}
.info{
  background-color: colors.$main;
} 
.success{
  background-color: colors.$success;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

