@use '../../../../styles/partials/mixins/devices' as devices;
@use '../../../../styles/partials/variables/colors' as colors;

.drawer {
}

.grid {
  @include devices.device(tablet) {
    display: grid;
    grid-template-columns: 90px auto;
    min-height: 500px;
    height: 100vh;
  }

  @include devices.device(smScreen) {
    grid-template-columns: 250px auto;
  }
}

.aside {
  background-color: colors.$grey20;
  min-height: 50px;
}