@use "../../../../../../../../styles/partials/mixins/devices" as devices;
@use "../../../../../../../../styles/partials/variables/colors" as colors;
@use "../../../../../../../../styles/partials/placeholders";

.serviceDetail {
  @extend %layoutContainer;
  padding: 2%;
  color: colors.$dark;

  h2 {
    color: colors.$dark;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 40px;
    text-transform: uppercase;
  }

  ul {
    li {
      margin-bottom: 10px;
      display: flex;

      .listNumber {
        margin-right: 10px;
      }
    }
  }

  &Content {
    max-width: 1000px;
    margin-top: 20px;
  }

  footer {
    border-top: 1px solid colors.$grey40;
    margin-top: 20px;
    text-align: right;
    max-width: 1000px;

    small {
      color: colors.$dark;
    }
  }
}

.price {
  &Button {
    max-width: 200px;
    width: 100%;
    margin-top: 20px;

    &Container {
      display: flex;
      justify-content: flex-end;
    }
  }

  &Label {
    margin-bottom: 0px;
  }

  &Qty {
    font-weight: bold;
    font-size: 2rem;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
.serviceImage{
  position: relative;
  height: 30vh;
  max-width: 1000px;

}