@use "../../../../../../../../styles/partials/mixins/devices" as devices;
@use "../../../../../../../../styles/partials/variables/colors" as colors;
@use "../../../../../../../../styles/partials/placeholders";

.serviceDetail {
  @extend %layoutContainer;
  padding: 2%;
  color: colors.$dark;

  h2 {
    color: colors.$dark;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 40px;
    text-transform: uppercase;
  }

  ul {
    li {
      margin-bottom: 10px;
      display: flex;

      .listNumber {
        margin-right: 10px;
      }
    }
  }

  &Content {
    max-width: 1000px;
    margin-top: 20px;
  }

  footer {
    border-top: 1px solid colors.$grey40;
    margin-top: 80px;
    max-width: 1000px;
    text-align: center;

    @include devices.device(600px){
      text-align: right;
    }

    small {
      color: colors.$dark;
    }
  }
}

.price {
  &Button {
    width: 100%;
    margin-top: 20px;

    @include devices.device(600px){
      max-width: 200px;
    }

    &Container {
      display: flex;
      justify-content: flex-end;
    }
  }

  &Label {
    margin-bottom: 0px;
    margin-top: 20px;
  }

  &Qty {
    font-weight: bold;
    font-size: 2rem;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  &Info {
    padding-right: 20px;
    &_container {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
  
      @include devices.device(smScreen){
        justify-content: flex-end;
      }
    }
  }


}
.serviceImage{
  position: relative;
  height: 30vh;
  max-width: 1000px;

}