@use '../../../../../styles/partials/mixins/devices' as devices;
@use '../../../../../styles/partials/variables/colors' as colors;

.drawerWrapper {
  background-color: colors.$grey20;
  padding-top: 30px;

  @include devices.device(lgScreen) {
    padding-top: 80px;
  }

  &.wrapperContainer {
    @include devices.device(mdScreen) {
      margin-left: 340px;
    }
  }

  &.wrapperLessons {
    @include devices.device(mdScreen) {
      margin-left: 340px;
      margin-right: 5%;
    }

    @include devices.device(lgScreen) {
      margin-right: 3%;
    }
  }

  &.wrapperLogin {
    margin-left: 0px;
  }
}