@use "../../styles/partials/mixins/devices" as devices;
@use "/../../styles/partials/variables/colors" as colors;
@use "/../../styles/partials/placeholders";

.thankyou {
  @extend %layoutContainer;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include devices.device(lgScreen) {
    @media screen and ( min-height: 700px ) {
      height: calc(100vh - 100px);
    }
  }
}

.successCard {
  background-color: colors.$main;
  @extend %borderRadius;
  max-width: 600px;
  text-align: center;
  padding: 2%;

  &Container {
    p{
    color: white;
    }
  }

  &Title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .imageContainer,.buttonContainer {
    max-width: 250px;
    margin: auto;
  }

}