@use '../../styles/partials/mixins/devices' as devices;
@use '../../styles/partials/variables/colors' as colors;

.sideCollapsableContainer {
  left: 0;
  top: 0;
  min-height: 100vh;
  position: fixed;
  z-index: 999;
  background-color: none;
  width: auto;

  &.isOpen {
    // animation: fadeIn .3s forwards;
    //width: 100vw;

    .collapsableButton {
      background-image: url('../../assets/img/icons/close-menu.svg');
    }
  }

  .collapsableButton {
    position: fixed;
    background-color: transparent;
    background-image: url('../../assets/img/icons/menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    margin: 5px;
    z-index: 999;

    @include devices.device(tablet) {
      margin: 10px;
    }
  }

  .sideCollapsable {
    left: 0;
    width: 20px;
    background-color: white;
    min-height: 100vh;
    transition: all 0.3s ease-in-out;
    transform: translate(-200px);
    position: absolute;
    top: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 900;

    &.isOpen {
      width: 300px;
      transform: translate(0);
    }

    @include devices.device(tablet) {
      width: 80px;
      transform: translate(-200px);
    }
  }
}

.overlay {
  background-color: transparentize(colors.$dark, 0.5);
  position: absolute;
  width: 0px;
  height: 100vh;
  top: 0;
  opacity: 0;

  &.isOpen {
    animation: fadeIn .3s forwards;
    width: 100%;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}