@use "../../../../../styles/partials/placeholders";
@use "../../../../../styles/partials/mixins/devices" as devices;
@use "../../../../../styles/partials/variables/colors" as colors;

.filtersContainer {
  display: flex;
  flex-direction: column;

  @include devices.device(smScreen){
    flex-direction: row;

  }
  .filterLabel {
    color: colors.$dark;
    letter-spacing: 1px;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 5px;
    display: inline-block ;
  }

  .filterListContainer {
    overflow: scroll;
    max-width: 100%;
    margin-bottom: 10px;

    @include devices.device(smScreen) {
      overflow: auto;
      width: 100%;
    }

    .filterList {
      display: flex;
  
      li {
        min-width: 120px;
        margin-right: 15px;
        flex-shrink: 0;
      }
    }
  }
}

.adminButtons {
  //max-width: 200px;
  width: 100%;
  display: flex;

  @include devices.device(smScreen) {
    justify-content: end;

  }

  button {
    max-width: 180px !important;
  }
}