@use "../../styles/partials/mixins/devices" as devices;
@use "../../styles/partials/variables/colors" as colors;

.crumbLink {
  color: colors.$grey50;
  font-size: .8rem;
  &::after {
    content: '>';
    color: colors.$main;
    padding-left: 10px;
    padding-right: 10px;
  }

  &:last-child::after {
    content: '';
  }
}

.breadcrumbsContainer {
  display: none;

  @include devices.device(smTablet) {
    display: block;
    padding-right: 15px;
  }
}