@use "../../styles/partials/variables/colors" as colors;
@use "../../styles/partials/variables/text" as text;
@use "../../styles/partials/mixins/devices" as devices;
@use "../../styles/partials/placeholders" as holders;

.notifications {
  background-color: white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;

  &:hover {
    background-color: lighten(colors.$dark,75%);
  }
}

.dotAlert {
  display: block;
  width: 10px;
  height: 10px;
  background-color: colors.$main;
  position: absolute;
  border-radius: 100%;
  left: 0px;
  top: 5px;
}

.imageContainer {
  max-width: 18px;
  display: flex;
}