@use "../../../../../styles/partials/mixins/devices" as devices;
@use "../../../../../styles/partials/variables/colors" as colors;
@use "../../../../../styles/partials/placeholders";

.cardConsultant{
  &Item {
    cursor: pointer;
    a {
      &>div {
        &:hover {
          background-color: colors.$palette10 !important;
        }        
      }
    }
  }


}

.new{
  background-color: red;
}