/*
 Project Name: Pastore Capital Platform
 Description:  Pastore Capital
 Author:       Rload Studio SL
 Author URI:   https://rload.es
 Version:      0.0.1
*/

@forward "./reset";
@use "partials/fonts";
