@use "./partials/variables/colors" as colors;
@use "./partials/variables/text" as text;
@use "./partials/mixins/devices" as devices;
@use "./partials/placeholders" as holders;


//CONTAINERS

.flex-container {
	display: flex;
	&.row {
		flex-direction: row;
	}

	&.column {
		flex-direction: column;
	}
	&.column-reverse {
		flex-direction: column-reverse;
	}
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}


//WIDTH AND SPACING

@for $i from 10 through 100 {
	.width-#{$i} {
		width: (0% + $i);
	}

	.padding-#{$i} {
		padding: (0% + $i);
	}

	.padding-left-#{$i} {
		padding-left: (0% + $i);
	}

	.padding-right-#{$i} {
		padding-right: (0% + $i);
	}

	.padding-top-#{$i} {
		padding-top: (0% + $i);
	}

	.padding-bottom-#{$i} {
		padding-bottom: (0% + $i);
	}

	.margin-top-#{$i} {
		margin-top: (0px + $i);
	}

	.margin-left-#{$i} {
		margin-left: (0px + $i);
	}

	.margin-right-#{$i} {
		margin-right: (0px + $i);
	}

	.margin-bottom-#{$i} {
		margin-bottom: (0px + $i);
	}
}

.main-title {
	@extend %mainTitle
}

.small-caps {
	@extend %smallCaps;
  color: colors.$main;
}

.small-text {
	font-size: text.$textSmall;
}

p {
	color: colors.$dark
}
