@use "./partials/variables/colors" as colors;
@use "./partials/variables/text" as text;
@use "./partials/mixins/devices" as devices;
@use "./partials/placeholders" as holders;

.working-on {
	max-width: 600px;
	margin: auto;
	text-align: center;
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 20%;
	color: colors.$main;
}
//CONTAINERS
body {
	background-color: colors.$grey20;
}

.flex-container {
	display: flex;
	&.row {
		flex-direction: row;
	}

	&.column {
		flex-direction: column;
	}
	&.column-reverse {
		flex-direction: column-reverse;
	}

	&.wrap {
		flex-wrap: wrap;
	}
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.align-start {
	align-items: flex-start;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.text-align-center {
	text-align: center;
}

//WIDTH AND SPACING

@for $i from 10 through 100 {
	.width-#{$i} {
		width: (0% + $i);
	}

	.padding-#{$i} {
		padding: (0% + $i);
	}

	.padding-left-#{$i} {
		padding-left: (0% + $i);
	}

	.padding-right-#{$i} {
		padding-right: (0% + $i);
	}

	.padding-top-#{$i} {
		padding-top: (0% + $i);
	}

	.padding-bottom-#{$i} {
		padding-bottom: (0% + $i);
	}

	.margin-top-#{$i} {
		margin-top: (0px + $i);
	}

	.margin-left-#{$i} {
		margin-left: (0px + $i);
	}

	.margin-right-#{$i} {
		margin-right: (0px + $i);
	}

	.margin-bottom-#{$i} {
		margin-bottom: (0px + $i);
	}
}

.main-title {
	@extend %mainTitle;
}

.secondary-title {
	@extend %secondaryTitle;
}

.small-caps {
	@extend %smallCaps;
	color: colors.$main;
}

.uppercase {
	text-transform: uppercase;
}

.small-text {
	font-size: text.$textSmall;
}

p {
	color: colors.$dark;
}

.form-container {
	width: 100%;
}

//RESET ACCORDION STYLE FOR THE APP
.rc-collapse {
	border-radius: 0px !important;
	border: 0px !important;
	background-color: transparent !important;
	.rc-collapse-content {
		background-color: transparent !important;
	}
	.rc-collapse-header-text,
	.rc-collapse-header-text,
	.rc-collapse-header,
	.rc-collapse-item {
		width: 100% !important;
	}

	.rc-collapse-header-text {
		display: flex;
	}

	.rc-collapse-header-text::after {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
		background-image: url(../assets/img/icons/arrow-b.svg);
		background-repeat: no-repeat;
		background-size: 12px;
		background-position: center;
	}

	.rc-collapse-item-active {
		.rc-collapse-header-text::after {
			transform: rotate(180deg);
		}
	}
}

.menu-options-btn {
	border-radius: 25px;
	box-shadow: 1px 1px 5px colors.$grey40;
	position: absolute;
	top: -10px;
	right: -10px;
	width: 40px;
	height: 40px;
	background-color: white;
	background-image: url(../assets/img/icons/menu-dots-vertical.png);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
}
.menu-options-btn:active {
	box-shadow: none;
}

.admin-buttons-container, .pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	margin-bottom: 0px;
	margin-top: 5%;

	@include devices.device(smTablet) {
		max-width: 280px;
		margin-bottom: 0px;
		margin-top: 2%;
	}

	@include devices.device(smScreen) {
		margin-top: 0px;
	}
}




