@use "../../../../../styles/partials/mixins/devices" as devices;
@use "../../../../../styles/partials/variables/colors" as colors;
@use "../../../../../styles/partials/placeholders";

.consultantShortDetails{
  &Container {
    padding: 10px;

    @include devices.device(smTablet) {
      padding: 15px;
    }
  }
}

.user {
  &Image {
    margin-right: 20px;
  }
  &Info {
    .title {
      @extend %secondaryTitle;
      margin-bottom: 5px;
    }

    .country {
      margin-bottom: 0px;
    }
  }
}

.flagIcon {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-position: center;
  margin-right: 8px;
}