@use "../../../styles/partials/mixins/devices" as devices;
@use "../../../styles/partials/placeholders";
@use "../../../styles/partials/tabs";
@use "../../../styles/partials/variables/colors" as colors;
@use "../../../styles/partials/variables/text" as text;

.loginPage {
  background-image: url(../../../assets/img/login-bg.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;

  .mainContainer {
    max-width: 500px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 35px 3% 100px 3%;

    @include devices.device(tablet) {
      flex-direction: row;
      justify-content: space-between;
      max-width: 1200px;
      padding: 80px 5% 100px 5%;
    }

    @include devices.device(lgScreen) {
      padding: 100px 0px 100px 0px;
      
    }

    .colLeft,
    .colRight {
      width: 100%;

      @include devices.device(mdScreen) {
        width: 100%;
      }
    }

    .colLeft {
      flex-direction: column;
      color: white;
      margin-bottom: 20px;

      @include devices.device(tablet) {
        margin-right: 100px;
        margin-bottom: 0px;
      }

      .colContainer {
        p {
          color: white;
        }

        @include devices.device(tablet) {
          min-height: 820px;
        }
      }
    }

    .colRight {
      justify-content: center;

      @include devices.device(smScreen) {
        width: 100%;
      }
    }
  }

  .logo {
    margin-bottom: 5%;

    @include devices.device(tablet) {
      margin-bottom: 40%;
    }

    @include devices.device(smScreen) {
      margin-bottom: 20%;
    }
  }
}

.mainTitle {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -1px;
  color: white;
  margin-bottom: 0px;

  strong {
    font-weight: 500;
  }

  @include devices.device(smTablet) {
    font-size: text.$mdTitle;
  }

  @include devices.device(mdScreen) {
    font-size: text.$lTitle;
    letter-spacing: -3px;
  }

  @include devices.device(lgScreen) {
    font-size: text.$xlTitle;
  }
}

.infoContainer {
  padding: 0% !important;
  //max-width: 450px !important;

  @include devices.device(tablet) {
    height: 820px;
  }

  // @include devices.device(mdScreen) {
  //   //max-width: 500px !important;
  // }

  .loginFormButtons {
    display: flex;
    border-bottom: 1px solid colors.$grey40;
    justify-content: space-between;
    padding-top: 15px;

    @include devices.device(smScreen) {
      margin-bottom: 30px;
    }

    li {
      font-size: .8rem;
    }
  }

  .loginFormContainer {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;

    @include devices.device(smTablet) {
      padding: 10%;
    }

    @include devices.device(smScreen) {
      padding: 0% 10%;
    }
  }

  .signInContainer,
  .signUpContainer {
    animation: fadeIn 0.5s;
  }
}

.formTitle {
  @extend %mainTitle;
}

.subtitle {
  @extend %smallCaps;
  color: colors.$main;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.recoverPass {
  display: flex;
  justify-content: flex-start;
  color: colors.$main;
  text-decoration: underline;
}

.buildingDashboardContainer {
  position: relative;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .imageContainer {
    width: 200px;
    height: auto;
    position: absolute;
    top: -100px;
    margin: auto;
    right: 0;
    left: 0;

    @include devices.device(smScreen) {
      width: 300px;
    }
  }

  .textContainer {
    margin-top: 115px;
    font-size: 1.2rem;

    @include devices.device(smScreen) {
      font-size: 1.8rem;
    }
  }
  
  .loaderContainer {
    width: 100px;
    margin-top: -20px;
  }
}